body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.container {
    gap: 75px;  
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.info {
  display: flex;
  gap: 35px;
}

.info-box {
  background: white;
  padding: 15px 25px;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  font-size: 16px;
  min-width: 200px;
  text-align: center;
}

.seesaw-cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plank {
  width: 500px;
  height: 20px;
  background: #1d1b1b;
  position: relative;
  margin: 0 auto;
  transform-origin: center center;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 11px;
  transition: transform 0.5s ease;
}

.plank:hover {
  background: #555;
}

.pivot {
  width: 30px;
  height: 30px;
  background: rgb(255, 94, 0);
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.object {
  position: absolute;
  top: -51px;       
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 7px;
 
}